h1 {
  text-align: center;
  color: rgb(244, 240, 239);
}
h2 {
  text-align: center;
  color: rgb(244, 240, 239);
}

h3 {
  text-align: center;
  font-size: 25px;
  color: rgb(244, 240, 239);
}

#image {
  max-width: 100%;
  display: block;
  height: auto;
}

#img-caption {
  text-align: center;
  padding-top: 20px;
  color: rgb(244, 240, 239);
  letter-spacing: 2px;
  font-size: 20px;
}

#title {
  text-align: center;
  color: rgb(244, 240, 239);
  letter-spacing: 2px;
  font-size: 25px;
  font-weight: bold;
}

#line-up {
  text-align: center;
  letter-spacing: 2px;
  font-size: 20px;
  font-weight: bold;
  color: rgb(244, 240, 239);
}

#world-tour {
  text-align: center;
  letter-spacing: 2px;
  font-size: 20px;
  color: rgb(244, 240, 239);
}

#img-caption {
  color: rgb(244, 240, 239);
  font-weight: bold;
}

#credits {
  text-align: center;
  color: rgb(244, 240, 239);
  font-weight: normal;
}

* {
  background-color: rgb(10, 4, 4);
}

#audio {
  color: blue;
}
